.env
.coverage
htmlcov/
notebooks/*


docs/_build/html
docs/_build/doctrees

.DS_Store

# Ignore IPython Notebook checkpoints
**/ipynb_checkpoints/

# Ignore Python bytecode cache
**/__pycache__/


# Ignore example_*.ipynb
**/example_ks_test.ipynb