PATH_DATA= "path/to/your/data"

AIRFLOW_USERNAME=<your_airflow_username>
AIRFLOW_PASSWORD=<your_airflow_password>

AWS_ACCOUND_ID=<your_aws_account_id>
AWS_ZONE=<your_aws_zone>

nginx_username=<your_nginx_username>
nginx_password=<your_nginx_password>